.middle-space {
    width: 80%;
    margin: auto;
    background-color: white;
    text-align: center;
}
body {
    background-color: lightsteelblue;
}
h1 {
    text-align: center;
}
.login-registration {
    display: inline;
    position: absolute;
    right: 0;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}